<div *ngIf="song">
    <h2>{{song.title | uppercase}} Details</h2>
    <div><span>id: </span>{{song.id}}</div>
    <div>
        <label>artist:
            <input [(ngModel)]="song.artist" placeholder="artist"/>
        </label>
        <label>title:
            <input [(ngModel)]="song.title" placeholder="title"/>
        </label>
        <label>album:
            <input [(ngModel)]="song.album" placeholder="album"/>
        </label>
        <label>year:
            <input [(ngModel)]="song.year" placeholder="year"/>
        </label>
        <label>active:
            <input [(ngModel)]="song.active" placeholder="active"/>
        </label>
    </div>
</div>