<h2>Drink List</h2>

<div class="table">
  <div [ngClass]="getHeaderRowDivClass()">
    <div [ngClass]="getHeaderCellDivClass(true)">ID</div>
    <div [ngClass]="getHeaderCellDivClass(false)">Name</div>
    <div [ngClass]="getHeaderCellDivClass(false)">Style</div>
    <div [ngClass]="getHeaderCellDivClass(false)">Brewery</div>
    <div [ngClass]="getHeaderCellDivClass(false)">City</div>
    <div [ngClass]="getHeaderCellDivClass(false)">Actions</div>
  </div>

  <ng-container *ngFor="let drink of drinks">
    <div [ngClass]="getHeaderRowDivClass()">
      <div [ngClass]="getCellDivClass(true)">{{ drink.id }}</div>
      <div [ngClass]="getCellDivClass(false)">{{ drink.name }}</div>
      <div [ngClass]="getCellDivClass(false)">{{ drink.style }}</div>
      <div [ngClass]="getCellDivClass(false)">{{ drink.brewery }}</div>
      <div [ngClass]="getCellDivClass(false)">{{ drink.city }}</div>
      <div [ngClass]="getCellDivClass(false)">
        <span class="action-button" (click)="setAsCurrent(drink)">Drink</span> |
        <span class="action-button" routerLink="/edit-drink/{{drink.id}}">Edit</span>
      </div>
    </div>
  </ng-container>
</div>