.songMetadata {
  float: left;
}

.songButtons {
  float: right;
}

.lyricsColumns {
  width: 100%;
  text-align: left;
  display: inline-block;
  column-count: var(--lyrics-column-count);
  column-rule: 1px solid #777777;
  column-fill: auto;
  white-space: pre;
  color: rgb(144, 200, 219);
  line-height: normal;
  /*border-style: so;*/
  /*border: 1px 1px 1px 1px;*/
}

.lyrics {
  font-family: 'Courier New';
  font-size: var(--lyrics-font-size);
  transform: scale(var(--lyrics-font-h-scale), 1);
}