<div>
  <div>
    <div class="songMetadata">
      <span> [Tuning: <strong>{{ song?.tuning }}</strong>] </span>
      <span> [Capo: <strong>{{ song?.capo }}</strong>] </span>
      <span> [Pick: <strong>{{ song?.pick }}</strong>] </span>

      <span (click)="setView(eViews.Lyrics)">Lyrics</span>
      <span (click)="setView(eViews.Chords)">Chords </span>
      <span (click)="setView(eViews.Tablature)">Tab</span>
    </div>

    <div class="songButtons">
      <span class="btn btn-primary" (click)="addToQueue()">Queue</span>
      <span class="btn btn-primary" (click)="setAsCurrent()">Set as Current</span>
      <span class="btn btn-primary" (click)="markAsPlayed()">Mark as Played</span>
      <span *ngIf="isEditMode()" class="btn btn-primary" routerLink="/edit-song/{{song?.id}}">Edit</span>
    </div>
  </div>

  <div class="lyrics">{{ getContentForView() }}</div>
</div>