.songMetadata {
  float: left;
}

.songButtons {
  float: right;
}

.lyrics {
  display: inline-block;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--default-font-size);
  overflow: visible;
  white-space: pre-wrap;
  color: rgb(144, 200, 219);
  column-count: var(--lyrics-column-count);
  column-gap: 7px;
}