<div>
  <div>
    <div class="songMetadata">
      <span> [Tuning: <strong>{{ song?.tuning }}</strong>] </span>
      <span> [Capo: <strong>{{ song?.capo }}</strong>] </span>
      <span> [Pick: <strong>{{ song?.pick }}</strong>] </span>
    </div>

    <div class="songButtons">
      <span class="btn btn-primary" routerLink="addToQueue(song}}">Queue</span>
      <span class="btn btn-primary" (click)="setAsCurrent(song)">Play</span>
      <span *ngIf="isEditMode()" class="btn btn-primary" routerLink="/edit-song/{{song?.id}}">Edit</span>
    </div>
  </div>

  <div class="lyrics lyricsColumns">{{ song?.lyrics }}</div>
</div>