input.button {
    float: right;
    width: 10%;
    height: 50px;
}

div.field {
    padding: 20px 20px;
}

input, textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    width: 100%
}