<h2>Edit Song</h2>

<div *ngIf="song">
    <div class="field">
        <input class="btn btn-primary" type="button" value="Save Changes" (click)="saveSong()">
    </div>

    <div class="field">
        <label for="ID">ID: </label>
        <input class="field readonly" name="ID" [(ngModel)]="song.id" disabled="true" placeholder="(ID Not Found)">
    </div>

    <div class="field">
        <label for="SSID">SSID: </label>
        <input class="field readonly" name="SSID" [(ngModel)]="song.ssId" disabled="true"
            placeholder="(SSID Not Found)">
    </div>

    <div class="field">
        <label for="Artist">Artist: </label>
        <input class="field" name="Artist" [(ngModel)]="song.artist" placeholder="(Artist Not Found)">
    </div>

    <div class="field">
        <label for="Title">Title: </label>
        <input class="field" name="Title" [(ngModel)]="song.title" placeholder="(Title Not Found)">
    </div>

    <div class="field">
        <label for="Album">Album: </label>
        <input class="field" name="Album" [(ngModel)]="song.album" placeholder="(Album Not Found)">
    </div>

    <div class="field">
        <label for="Year">Year: </label>
        <input class="field" name="Year" [(ngModel)]="song.year" placeholder="(Year Not Found)">
    </div>

    <div class="field">
        <label for="Capo">Capo: </label>
        <input class="field" name="Capo" [(ngModel)]="song.capo" placeholder="(Capo Not Found)">
    </div>

    <div class="field">
        <label for="Tuning">Tuning: </label>
        <input class="field" name="Tuning" [(ngModel)]="song.tuning" placeholder="(Tuning Not Found)">
    </div>

    <div class="field">
        <input type="checkbox" name="Pick" [(ngModel)]="song.pick" placeholder="(Pick Not Found)" />
        <label for="Pick"> Pick</label>
    </div>

    <div class="field">
        <input type="checkbox" name="Active" [(ngModel)]="song.active" placeholder="(Active Not Found)" />
        <label for="Active"> Active</label>
    </div>

    <div class="field">
        <label for="Composer">Composer: </label>
        <input class="field" name="Composer" [(ngModel)]="song.composer" placeholder="(Composer Not Found)">
    </div>

    <div class="field">
        <label for="SuggestedBy">Suggested by: </label>
        <input class="field" name="SuggestedBy" [(ngModel)]="song.suggestedBy" placeholder="(Suggested By Not Found)">
    </div>

    <div class="field">
        <div>
            <label for="Lyrics">Lyrics: </label>
        </div>
        <textarea class="lyricsChordsTab" rows="32" cols="65" name="Lyrics" [(ngModel)]="song.lyrics"
            placeholder="(Lyrics Not Found)"></textarea>
    </div>

    <div class="field">
        <div>
            <label for="Chords">Chords: </label>
        </div>
        <textarea class="lyricsChordsTab" rows="32" cols="65" name="Chords" [(ngModel)]="song.chords"
            placeholder="(Chords Not Found)"></textarea>
    </div>

    <div class="field">
        <div> 
            <label for="Tab">Tab: </label>
        </div>
        <textarea class="lyricsChordsTab" rows="32" cols="65" name="Tab" [(ngModel)]="song.tab"
            placeholder="(Tab Not Found)"></textarea>
    </div>
</div>

<div *ngIf="!song">
    <h3>No song found to edit</h3>
</div>