/* input.button {
    float: left;
    width: 100px;
    height: 25px;  
    display: block;
  }

div.field {
    padding: 20px 20px;
    display: block;
}

input, textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    width: 50%;
    color: white;
    background-color: black;
    
}

:disabled {
    background-color: #222;
} */