<h2>Edit Song</h2>

<div *ngIf="song">
    <div class="field">
        <input class="btn btn-outline-primary" type="button" value="Save Changes" (click)="saveSongData()">
    </div>

    <div class="field">
        <label for="ID">ID: </label>
        <input name="ID" [(ngModel)]="song.id" disabled="true" placeholder="(ID Not Found)">
    </div>

    <div class="field">
        <label for="Artist">Artist: </label>
        <input name="Artist" [(ngModel)]="song.artist" placeholder="(Artist Not Found)">
    </div>

    <div class="field">
        <label for="Title">Title: </label>
        <input name="Title" [(ngModel)]="song.title" placeholder="(Title Not Found)">
    </div>

    <div class="field">
        <label for="Album">Album: </label>
        <input name="Album" [(ngModel)]="song.album" placeholder="(Album Not Found)">
    </div>

    <div class="field">
        <label for="Year">Year: </label>
        <input name="Year" [(ngModel)]="song.year" placeholder="(Year Not Found)">
    </div>

    <div class="field">
        <label for="Capo">Capo: </label>
        <input name="Capo" [(ngModel)]="song.capo" placeholder="(Capo Not Found)">
    </div>

    <div class="field">
        <label for="Tuning">Tuning: </label>
        <input name="Tuning" [(ngModel)]="song.tuning" placeholder="(Tuning Not Found)">
    </div>

    <div class="field">
        <label for="Pick">Pick: </label>
        <input type="checkbox" name="Pick" [(ngModel)]="song.pick" placeholder="(Pick Not Found)" />
    </div>

    <div class="field">
        <label for="Active">Active: </label>
        <input type="checkbox" name="Active" [(ngModel)]="song.active" placeholder="(Active Not Found)" />
    </div>

    <div class="field">
        <label for="Composer">Composer: </label>
        <input name="Composer" [(ngModel)]="song.composer" placeholder="(Composer Not Found)">
    </div>

    <div class="field">
        <label for="Comment">Comment: </label>
        <input name="Comment" [(ngModel)]="song.comment" placeholder="(Comment Not Found)">
    </div>

    <div class="field">
        <label for="SuggestedBy">Suggested by: </label>
        <input name="SuggestedBy" [(ngModel)]="song.suggestedBy" placeholder="(Suggested By Not Found)">
    </div>

    <div class="field">
        <label for="Lyrics">Lyrics: </label>
        <textarea rows="100" cols="200" name="Lyrics" [(ngModel)]="song.lyrics"
            placeholder="(Lyrics Not Found)"></textarea>
    </div>

    <div class="field">
        <label for="Chords">Chords: </label>
        <textarea rows="100" cols="200" name="Chords" [(ngModel)]="song.chords"
            placeholder="(Chords Not Found)"></textarea>
    </div>

    <div class="field">
        <label for="Tab">Tab: </label>
        <textarea rows="100" cols="200" name="Tab" [(ngModel)]="song.tab" placeholder="(Tab Not Found)"></textarea>
    </div>
</div>

<div *ngIf="!song">
    <h3>No song found to edit</h3>
</div>