<nav>
    <a class="navButton navButtonLeft" (click)="navigateBack()">&lt; Back</a>
    <a class="navButton navButtonLeft" (click)="navigateForward()">Forward &gt;</a>
    <a class="navButton navButtonLeft" (click)="refreshPage()">Refresh</a>
    <a class="navButton navButtonLeft" routerLink="/song-queue">Song Queue</a>
    <a class="navButton navButtonLeft" routerLink="/song-list">Song List</a>
    <a class="navButton navButtonLeft" routerLink="/drink-list">Drink List</a>
    <a class="navButton navButtonLeft" *ngIf="isEditMode()" routerLink="/import-export">Import/Export</a>
    <a class="navButton navButtonLeft" *ngIf="isEditMode()" routerLink="/messages">Log</a>

    <a class="navButton navButtonRight" (click)="increaseFontHScale()">FontH +</a>
    <a class="navButton navButtonRight" (click)="decreaseFontHScale()">FontH -</a>
    <a class="navButton navButtonRight" (click)="increaseFontSize()">Font +</a>
    <a class="navButton navButtonRight" (click)="decreaseFontSize()">Font -</a>
    <a class="navButton navButtonRight" (click)="increaseColumnCount()">Cols +</a>
    <a class="navButton navButtonRight" (click)="decreaseColumnCount()">Cols -</a>
    <div class="form-check navButton navButtonRight">
        <input id="editModeToggle" class="form-switch" type="checkbox" [checked]="isEditMode()" (change)="setEditMode(!isEditMode())">
        <label for="editModeToggle" class="form-check-label">Edit Mode</label>
    </div>
    <a class="navButton navButtonRight" (click)="navigateToRandomSong()">Randomize!</a>
    <a *ngIf="isEditMode()" class="navButton navButtonRight" routerLink="/edit-song/{{getNextValidSongId()}}">Add Song</a>
</nav>

<router-outlet></router-outlet>