/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}

nav {
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #039be5;
  background-color: #eee;
  border: none;
  border-radius: 16px;
  display: inline-block;
  width: 100%;
  height: 48px;
}

.navButton {
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #eee;
  border: none;
  height: 32px;
  padding: 4px 5px 6px 5px;
  margin: 8px 5px 0px 5px;
  border-radius: 16px;
  vertical-align: middle;
  text-align: middle;
  display: inline-block;
}

nav .navButton:visited,
.navButton:link {
  color: rgb(30,30,30);
  border-color: rgb(230,230,230);
}

nav .navButton:hover {
  color:#eee;
  background-color:  #039be5;
  cursor: pointer;
}

nav .navButton.active {
  color: #039be5;
}

.navButtonLeft {
  float: left;
}

.navButtonRight {
  float: right;
}