@import '~bootstrap/dist/css/bootstrap.css';

/* Application-wide Styles */

body {
  background-color: rgb(30,30,30);
  color: rgb(230,230,230);
}

div.tabTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: rgb(0, 127, 212);
  display: inline;
  float: left;
}

input.btn-primary {
  display: inline;
  float: right;
  margin: 5px;
}

span.btn-primary {
  display: inline;
  margin: 5px;
}

h1 {
  color: rgb(0,127,212);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,h3 {
  color: rgb(0,127,212);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: rgb(182,182,182);
  font-family: Cambria, Georgia, serif;
}

/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}
