.table {
  display: block;
  width: 100%;
}
.header-row, .row {
  clear: both;
}
.header-cell {
  background-color: #DDD;
  font-weight: bold;
}
.cell, .header-cell {
  border: 1px solid #999999;
  float: left;
  height: 17px;
  overflow: hidden;
  padding: 3px 1.8%;
  width: 46%;
}
.table:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}