.table-danger {
  background-color:rgb(100, 22, 22);
}

/* input.button {
  float: left;
  width: 100px;
  height: 25px;
  display: block;
}

.table {
  width: 100%;
}

.rowHeader,
.rowActive {
  clear: both;
}

.rowInactive {
  clear: both;
}

.rowActive:hover {
  background-color: rgb(0, 127, 212);
  cursor: pointer;
}

.rowInactive:hover {
  background-color: rgb(100, 22, 22);
  cursor: pointer;
}

.cellHeader {
  color: #ffffff;
  background-color: rgb(182, 182, 182);
  font-weight: bold;
}

.cellActive {
  color: #dddddd;
  cursor: pointer;
}

.cellInactive {
  color: #ff7777;
  cursor: pointer;
}

.cellHeader,
.cellActive,
.cellInactive {
  --number-of-fixed-columns: 2;
  --number-of-variable-columns: 4;

  --top-bottom-padding: 3px;
  --left-right-padding: 0.5%;
  --border-width: 1px;
  --padding-and-border-widths: calc(
    var(--left-right-padding) * 2 + var(--border-width) * 2
  );

  --fixed-column-width: 40px;
  --fixed-column-rendered-width: calc(
    var(--fixed-column-width) + var(--padding-and-border-widths)
  );  
  --variable-column-width: calc(
      100% / var(--number-of-variable-columns)
      - var(--padding-and-border-widths)
      - (var(--fixed-column-rendered-width) * (var(--number-of-fixed-columns)) / var(--number-of-variable-columns))
    );

  border: var(--border-width) solid rgb(0, 127, 212);
  float: left;
  height: 34px;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: var(--top-bottom-padding) var(--left-right-padding);
  width: var(--variable-column-width);
  background-color: inherit;
}

.cellFixedWidth {
  width: var(--fixed-column-width);
}
*/
.action-button:hover {
  color: blue;
  background-color: antiquewhite;
  cursor: pointer;
}

.table:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
