<h2>Song List</h2>
<div class="table">
  <div [ngClass]="getHeaderRowDivClass()">
    <div [ngClass]="getHeaderCellDivClass(false)">Artist</div>
    <div [ngClass]="getHeaderCellDivClass(true)">Year</div>
    <div [ngClass]="getHeaderCellDivClass(false)">Album</div>
    <div [ngClass]="getHeaderCellDivClass(false)">Title</div>
  </div>
  <ng-container *ngFor="let song of songs">
    <div [ngClass]="getRowDivClass(song.active)" routerLink="/lyrics/{{song.artist}}/{{song.title}}"
    (click)="songClicked(song)">
      <div [ngClass]="getCellDivClass(song.active, false)">{{ song.artist }}</div>
      <div [ngClass]="getCellDivClass(song.active, true)" >{{ song.year }}</div>
      <div [ngClass]="getCellDivClass(song.active, false)">{{ song.album }}</div>
      <div [ngClass]="getCellDivClass(song.active, false)">{{ song.title }}</div>
    </div>
  </ng-container>
</div>